<a href="https://colab.research.google.com/github/Jchethana1990/ML-PROGRAMMS/blob/master/program_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Python program  to count the occurense of ecah words in a given setence

In [1]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('the quick brown fox jumps over the lazy dog.'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}

2.write a python program to remove a duplicate from list

In [2]:
a = [10,20,30,20,10,50,60,40,80,50,40]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

print(dup_items)

{40, 10, 80, 50, 20, 60, 30}

3.write a python program to count the number of element in a list within a specified range

In [4]:
def count_range_in_list(li, min, max):
	ctr = 0
	for x in li:
		if min <= x <= max:
			ctr += 1
	return ctr

list1 = [10,20,30,40,40,40,70,80,99]
print(count_range_in_list(list1, 40, 100))

list2 = ['a','b','c','d','e','f']
print(count_range_in_list(list2, 'a', 'e'))

6
5

4.write a python script to merge two python dictionaries

In [5]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d = d1.copy()
d.update(d2)
print(d)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

5.write a python program to find the highest 3 values in a dictionary

In [6]:
from heapq import nlargest
my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}  
three_largest = nlargest(3, my_dict, key=my_dict.get)
print(three_largest)

['b', 'e', 'c']

6.write a python program to convert a tuple to a string

In [8]:
def convertTuple(tup): 
    str =  ''.join(tup) 
    return str
  

tuple = ('a', 'r', 'u') 
str = convertTuple(tuple) 
print(str)

aru

7.write a python program to reverse a tuple

In [14]:
def Reverse(tuples): 
    new_tup = tuples[::-1] 
    return new_tup 
      
# Driver Code 
tuples = ('c','h','e','t','h','a','n','a') 
print(Reverse(tuples))

('a', 'n', 'a', 'h', 't', 'e', 'h', 'c')

8.write a python progam to remove existing indentation  from all of the lines in a given text

In [15]:
import textwrap
sample_text = '''
    Python is an interpreted, object-oriented, high-level programming language with dynamic semantics.
    '''
text_without_Indentation = textwrap.dedent(sample_text)
print()
print(text_without_Indentation )
print()

Python is an interpreted, object-oriented, high-level programming language with dynamic semantics.